<% include ./handler/header %>
	<div id="headerwrap">
		<div class='subbackground'>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h1>계정을 만들어<br/>
						당신의 스마트폰과 연결하세요.</h1>
						<form class="form-inline" role="form">
						  <div class="form-group">
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일을 입력하세요.">
						  </div>
						  <button type="submit" class="btn btn-warning btn-lg">가입하기!</button>
						  <img src='/img/setuplink.png' style='width:128px;'>
						</form>		

					</div><!-- /col-lg-6 -->
					<div class="col-lg-6">
						<img class="img-responsive" src="/img/ipad-hand.png" alt="">
					</div><!-- /col-lg-6 -->
					
				</div><!-- /row -->
			</div><!-- /container -->
		</div>  <!-- /subbackground -->
	</div><!-- /headerwrap -->