<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
    <script>
        var socket = io.connect("http://localhost:3000");
        socket.on("connect", function(){
            alert("hi!");
            socket.on("data", function(data){
                console.log("data : ", data);
                alert("data :"+data["userId"]);
            });
        });
    </script>
    </body>
</html>
